.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  height: 100vh;
  overflow: hidden;
  /* background-color: #0d0208; */
  transition: all 1s linear;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.matrix-font{
  font-family: 'monospace' !important;
  color: #008f11;
  z-index: 100;
}

.matrix-keyboard{
  background-color: black;
}